.byte {
    display: inline-block;
    padding: 2px;
    width: 15px;
    text-align: center;
    margin: 4px;
}

.isPC {
    background: red;
}
.isSP {
    background: blue;
}

.rowAddress {
    display: inline-block;
    font-weight: bold;
}

.bytes {
    display: inline-block;
}

.isHeader {
    background: green;
}

.memoryRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px
}

#memory {
    max-height: 460px;
    min-height: 460px;
    max-width: 320px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: monospace;
}

.memoryMove {
    height: 20px;
    width: 100%;
}

.memoryViewer {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}