.byte {
    display: inline-block;
    padding: 2px;
    width: 15px;
    text-align: center;
    margin: 4px;
}

.isPC {
    background: red;
}
.isSP {
    background: blue;
}

.rowAddress {
    display: inline-block;
    font-weight: bold;
}

.bytes {
    display: inline-block;
}

.isHeader {
    background: green;
}

.memoryRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px
}

#memory {
    max-height: 460px;
    min-height: 460px;
    max-width: 320px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: monospace;
}

.memoryMove {
    height: 20px;
    background-color: #9c2859;
    border-color: black;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 5px black;
    &[disabled]{
        box-shadow: none;
        cursor: not-allowed;
        border: 1px solid #999999;
        background-color: #997282;
        color: #666666;
    }
    &:active {
        box-shadow: none;
        text-shadow: -1px 1px;
        color: #666;
    }
}

.memoryViewer {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}