.cpu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registers {
    display: flex;
    justify-content: space-between;
    width: 150px;
    border: solid black 1px;
    padding: 5px;
}

.reg {
    margin: 5px;
    text-align: center;
}

.pc {
    border: solid black 1px;
    border-bottom: 0px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    background: #8bac0f;
}

.sp {
    padding: 2px;
    text-align: center;
    border: solid black 1px;
    border-top: 0;
    cursor: pointer;
    background: #333d87;
    color: white;
}