#background {
    height: 256px;
    width: 256px;
    border: 1px solid black
}

.toggles {
    display: flex;
    flex-direction: column;
}

.toggleItem {
    display: flex;
}

.pixel {
    display: inline-block;
    width: 10px;
    width: 20px;
    height: 20px;
    text-align: center;

    &.zero {
        background: #000;
    }

    &.one {
        background: #c0c0c0;
    }

    &.two {
        background: #606060;
    }

    &.three {
        background: #1c1c1c;
    }
}

.pixels {
    border: solid 1px;
    width: 160px;
}