.memory {
    display: flex;
}

.visualMemory {
    width: 300px;
    margin: 10px;
}

.internals {
    width: 1000px;

    &.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &.controls {
        display: flex;
        justify-content: center;
    }
}

.motherboard {
    display: flex;
    justify-content: space-around;
}